<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="hero-section-container">
        <div class="hero-section-overlay" id="hero-overlay"></div>
        <div class="hero-section-cards">
            <div class="hero-section-first-card">
                Get
                inspired.
            </div>
            <div class="hero-card" id="hero-card-1">
                <div class="hero-card-text">Floors</div>
                <div class="hero-card-description">
                    <div class="hero-card-description-title">Floors</div>
                    <div class="hero-card-description-text">More comfortable with a coloured concrete floor</div>
                    <div class="hero-card-description-link">Floors inspirations <img src="assets/img/buttonPf.png"
                            alt="buttonPf"></div>

                </div>

            </div>
            <div class="hero-card" id="hero-card-2">
                <div class="hero-card-text">Patios & Courtyards</div>
                <div class="hero-card-description">
                    <div class="hero-card-description-title">Patios & Courtyards</div>
                    <div class="hero-card-description-text">Beauty that lasts with a coloured patio.</div>
                    <div class="hero-card-description-link">Patios & Courtyards inspirations<img
                            src="assets/img/buttonPf.png" alt="buttonPf"></div>

                </div>

            </div>
            <div class="hero-card" id="hero-card-3">
                <div class="hero-card-text">Driveways & paths</div>
                <div class="hero-card-description">
                    <div class="hero-card-description-title">Driveways & paths</div>
                    <div class="hero-card-description-text">Stand apart with a coloured concrete driveway and path</div>
                    <div class="hero-card-description-link">Driveways & paths inspirations<img
                            src="assets/img/buttonPf.png" alt="buttonPf"></div>

                </div>

            </div>
            <div class="hero-card" id="hero-card-4">
                <div class="hero-card-text">Walls</div>
                <div class="hero-card-description">
                    <div class="hero-card-description-title">Walls</div>
                    <div class="hero-card-description-text">Make more of your walls with coloured concrete.</div>
                    <div class="hero-card-description-link">Walls inspirations<img src="assets/img/buttonPf.png"
                            alt="buttonPf"></div>

                </div>

            </div>
            <div class="hero-card" id="hero-card-5">
                <div class="hero-card-text">Pool surrounds</div>
                <div class="hero-card-description">
                    <div class="hero-card-description-title">Pool surrounds</div>
                    <div class="hero-card-description-text">Add sparkle to your pool wiht a coloured concrete surround.
                    </div>
                    <div class="hero-card-description-link">Pool suorrounds inspirations<img
                            src="assets/img/buttonPf.png" alt="buttonPf"></div>

                </div>

            </div>
            <div class="hero-card" id="hero-card-6">
                <div class="hero-card-text">Commercial</div>
                <div class="hero-card-description">
                    <div class="hero-card-description-title">Commercial</div>
                    <div class="hero-card-description-text">Durability and flair for yout commercial space with a
                        coloured concrete floor.</div>
                    <div class="hero-card-description-link">Commercial inspirations<img src="assets/img/buttonPf.png"
                            alt="buttonPf"></div>

                </div>

            </div>
            <div class="hero-card" id="hero-card-7">
                <div class="hero-card-text">Public spaces</div>
                <div class="hero-card-description">
                    <div class="hero-card-description-title">Public spaces</div>
                    <div class="hero-card-description-text">Create inviting public spaces with coloured concrete.</div>
                    <div class="hero-card-description-link">Public spaces inspirations<img src="assets/img/buttonPf.png"
                            alt="buttonPf"></div>

                </div>

            </div>
        </div>

    </div>



    <script src="assets/js/home.js"></script>
</body>

</html>