<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>
    <link rel="stylesheet" href="assets/css/output.css">
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
</head>

<body>
    <div class="hero-section-container h-screen">
        <div id="hero-overlay" class="hero-section-overlay h-screen w-screen brightness-75 absolute -z-10 "></div>
        <!-- NAVBAR -->
        <div class="hero-section-cards grid grid-cols-4 grid-rows-2 z-[2] h-full">
            <div
                class="hero-section-first-card flex p-[5vh] items-end text-white font-PlayfairSerif text-5xl font-bold leading-snug">
                Get
                inspired.
            </div>
            <div id=""
                class="hero-card flex flex-col group/card1 border border-gray-400 bg-transparent h-full p-12  hover:cursor-pointer justify-center hover:bg-pink">
                <div
                    class="hero-card-text  h-full flex flex-col justify-end self-end text-white font-Heebo text-sm font-light group-hover/card1:hidden">
                    Floors</div>
                <div class="hero-card-description group-hover/card1:flex flex-col self-center hidden">
                    <div class="hero-card-description-title font-PlayfairSerif text-4xl text-white font-bold">Floors
                    </div>
                    <div class="hero-card-description-text text-sm text-white font-light font-Heebo mt-5">More
                        comfortable with
                        a
                        coloured
                        concrete floor</div>
                    <div
                        class=" mt-14 transition-all duration-300 hero-card-description-link border-b-2 border-black w-fit text-black font-PlayfairSerif font-semibold flex group/link1 hover:text-white hover:border-white">
                        Floors
                        inspirations <img src="assets/img/buttonPf.png" alt="buttonPf"
                            class="transition-all duration-300 w-2.5 h-2 self-center ml-1 brightness-0 group-hover/link1:brightness-200">
                    </div>

                </div>

            </div>
            <div id=""
                class="hero-card flex flex-col group border border-gray-400 bg-transparent h-full p-12  hover:cursor-pointer justify-center hover:bg-[#d27746e6]">
                <div
                    class="hero-card-text  h-full flex flex-col justify-end self-end text-white font-Heebo text-sm font-light group-hover:hidden">
                    Patios & Courtyards</div>
                <div class="hero-card-description group-hover:flex flex-col self-center hidden">
                    <div class="hero-card-description-title font-PlayfairSerif text-4xl text-white font-bold">Patios &
                        Courtyards
                    </div>
                    <div class="hero-card-description-text text-sm text-white font-light font-Heebo mt-5">Beauty that
                        lasts with a coloured patio.</div>
                    <div
                        class=" mt-14 transition-all duration-300 hero-card-description-link border-b-2 border-black w-fit text-black font-PlayfairSerif font-semibold flex group/link1 hover:text-white hover:border-white">
                        Patios & Courtyards inspirations<img src="assets/img/buttonPf.png" alt="buttonPf"
                            class="transition-all duration-300 w-2.5 h-2 self-center ml-1 brightness-0 group-hover/link1:brightness-200">
                    </div>

                </div>

            </div>
            <div id=""
                class="hero-card flex flex-col group border border-gray-400 bg-transparent h-full p-12  hover:cursor-pointer justify-center hover:bg-[#6496bee6]">
                <div
                    class="hero-card-text  h-full flex flex-col justify-end self-end text-white font-Heebo text-sm font-light group-hover:hidden">
                    Driveways & paths</div>
                <div class="hero-card-description group-hover:flex flex-col self-center hidden">
                    <div class="hero-card-description-title font-PlayfairSerif text-4xl text-white font-bold">Driveways
                        & paths
                    </div>
                    <div class="hero-card-description-text text-sm text-white font-light font-Heebo mt-5">Stand apart
                        with a coloured concrete driveway and path</div>
                    <div
                        class=" mt-14 transition-all duration-300 hero-card-description-link border-b-2 border-black w-fit text-black font-PlayfairSerif font-semibold flex group/link1 hover:text-white hover:border-white">
                        Driveways & paths inspirations <img src="assets/img/buttonPf.png" alt="buttonPf"
                            class="transition-all duration-300 w-2.5 h-2 self-center ml-1 brightness-0 group-hover/link1:brightness-200">
                    </div>

                </div>

            </div>
            <div id=""
                class="hero-card flex flex-col group border border-gray-400 bg-transparent h-full p-12  hover:cursor-pointer justify-center hover:bg-[#788c50e6]">
                <div
                    class="hero-card-text  h-full flex flex-col justify-end self-end text-white font-Heebo text-sm font-light group-hover:hidden">
                    Walls</div>
                <div class="hero-card-description group-hover:flex flex-col self-center hidden">
                    <div class="hero-card-description-title font-PlayfairSerif text-4xl text-white font-bold">Walls
                    </div>
                    <div class="hero-card-description-text text-sm text-white font-light font-Heebo mt-5">Make more of
                        your walls with coloured concrete.</div>
                    <div
                        class=" mt-14 transition-all duration-300 hero-card-description-link border-b-2 border-black w-fit text-black font-PlayfairSerif font-semibold flex group/link1 hover:text-white hover:border-white">
                        Walls inspirations <img src="assets/img/buttonPf.png" alt="buttonPf"
                            class="transition-all duration-300 w-2.5 h-2 self-center ml-1 brightness-0 group-hover/link1:brightness-200">
                    </div>

                </div>

            </div>
            <div id=""
                class="hero-card flex flex-col group border border-gray-400 bg-transparent h-full p-12  hover:cursor-pointer justify-center hover:bg-[#dca03ce6]">
                <div
                    class="hero-card-text  h-full flex flex-col justify-end self-end text-white font-Heebo text-sm font-light group-hover:hidden">
                    Pool surrounds</div>
                <div class="hero-card-description group-hover:flex flex-col self-center hidden">
                    <div class="hero-card-description-title font-PlayfairSerif text-4xl text-white font-bold">Pool
                        surrounds
                    </div>
                    <div class="hero-card-description-text text-sm text-white font-light font-Heebo mt-5">Add sparkle to
                        your pool wiht a coloured concrete surround.</div>
                    <div
                        class=" mt-14 transition-all duration-300 hero-card-description-link border-b-2 border-black w-fit text-black font-PlayfairSerif font-semibold flex group/link1 hover:text-white hover:border-white">
                        Pool suorrounds inspirations <img src="assets/img/buttonPf.png" alt="buttonPf"
                            class="transition-all duration-300 w-2.5 h-2 self-center ml-1 brightness-0 group-hover/link1:brightness-200">
                    </div>

                </div>

            </div>
            <div id=""
                class="hero-card flex flex-col group border border-gray-400 bg-transparent h-full p-12  hover:cursor-pointer justify-center hover:bg-[#aaa050e6]">
                <div
                    class="hero-card-text  h-full flex flex-col justify-end self-end text-white font-Heebo text-sm font-light group-hover:hidden">
                    Commercial</div>
                <div class="hero-card-description group-hover:flex flex-col self-center hidden">
                    <div class="hero-card-description-title font-PlayfairSerif text-4xl text-white font-bold">Commercial
                    </div>
                    <div class="hero-card-description-text text-sm text-white font-light font-Heebo mt-5">Durability and
                        flair for yout commercial space with a
                        coloured concrete floor.</div>
                    <div
                        class=" mt-14 transition-all duration-300 hero-card-description-link border-b-2 border-black w-fit text-black font-PlayfairSerif font-semibold flex group/link1 hover:text-white hover:border-white">
                        Commercial inspirations<img src="assets/img/buttonPf.png" alt="buttonPf"
                            class="transition-all duration-300 w-2.5 h-2 self-center ml-1 brightness-0 group-hover/link1:brightness-200">
                    </div>

                </div>

            </div>
            <div id=""
                class="hero-card flex flex-col group border border-gray-400 bg-transparent h-full p-12  hover:cursor-pointer justify-center hover:bg-[#c85f3ce6]">
                <div
                    class="hero-card-text  h-full flex flex-col justify-end self-end text-white font-Heebo text-sm font-light group-hover:hidden">
                    Public spaces</div>
                <div class="hero-card-description group-hover:flex flex-col self-center hidden">
                    <div class="hero-card-description-title font-PlayfairSerif text-4xl text-white font-bold">Public
                        spaces
                    </div>
                    <div class="hero-card-description-text text-sm text-white font-light font-Heebo mt-5">Create
                        inviting public spaces with coloured concrete.</div>
                    <div
                        class=" mt-14 transition-all duration-300 hero-card-description-link border-b-2 border-black w-fit text-black font-PlayfairSerif font-semibold flex group/link1 hover:text-white hover:border-white">
                        Public spaces inspirations<img src="assets/img/buttonPf.png" alt="buttonPf"
                            class="transition-all duration-300 w-2.5 h-2 self-center ml-1 brightness-0 group-hover/link1:brightness-200">
                    </div>

                </div>

            </div>

        </div>



        <script src="assets/js/home.js"></script>
</body>

</html>