.coloured-concrete-box {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  .coloured-concrete-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    .intestazione-coloured-concrete {
      width: 100%;
      font-size: 80px;
      font-weight: 700;
    }
    .scritta-coloured-concrete {
      width: 50%;
      padding-left: 35%;
      color: #6d6e70;
      font-size: 17px;
      font-weight: 300;
    }
    .choose-your-colour {
      padding-left: 35%;
      width: 24%;
      .link-colour-box {
        &:hover {
          .link-colour {
            color: black;
          }
          .line-bottom {
            background-color: black;
          }
          .img-choose-color1 {
            filter: brightness(0) saturate(100%);
          }
        }
        .link-colour {
          font-weight: 700;
          font-size: 20px;
          text-decoration: none;
          color: #7a99ac;
        }
      }
      .line-bottom {
        background-color: #7a99ac;
        height: 3px;
      }
    }
  }
}
