<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createLook</title>
    <link rel="stylesheet" href="assets/css/output.css">
</head>

<body>
    <div class="create-look-section w-full flex justify-evenly flex-col items-center lg:flex-row">
        <div class="create-look-img min-w-[40%] max-w-[75%] lg:min-w-[25%] lg:max-w-[40%]">
            <img src="assets/img/create-look-img.png" alt="Screenshot of design tool" class="w-full">
        </div>
        <div class="create-look-desc w-full max-w-[75%] lg:min-w-[25%] lg:max-w-[40%]">
            <div class="create-look-desc-title font-PlayfairSans font-bold text-5xl">Create the look you want.</div>
            <div class="create-look-desc-text font-Heebo font-light text-base mt-8">We’ve developed a step-by-step
                design
                tool that
                will help you create a
                space that’s right for your lifestyle. So, let’s get started.</div>
            <div
                class="create-look-desc-link group/myLink1 hover:text-black hover:border-black flex items-center gap-1 font-PlayfairSans text-2xl font-bold text-cBlue border-b-2 border-cBlue w-fit transition-all duration-300 mt-8">
                Use the design tool <img src="assets/img/buttonPf.png" alt="buttonPf"
                    class="pt-1 transition-all duration-300 group-hover/myLink1:brightness-0">
            </div>

        </div>
    </div>

</body>

</html>