<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage Navbar</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <span class="firstSpan">Peter</span><span class="secondSpan">Fell</span>
      </div>
      <div class="menu">
        <img src="assets/menù.svg" alt="iconMenù" />
        <div class="textMenu">Menù</div>
      </div>
      <div class="designTool">
        <img src="assets/designTool.svg" alt="iconColor" />
        <div class="textDesignTool">Design Tool</div>
      </div>
      <div class="cart">
        <img src="assets/cart.svg" alt="iconCart" />
        <div class="eventCart">
          <div class="textEvent">0</div>
        </div>
      </div>
    </nav>
  </body>
</html>
