<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step3</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        blueP: "#7a99ac",
                        greyP: "#6d6e70",
                    },
                    fontFamily: {
                        Heebo: ["Heebo", "sans-serif"],
                        PlayfairSerif: ["Playfair Display", "serif"],
                        PlayfairSans: ["Playfair Display", "sans-serif"],
                    },
                },
            },
        };
    </script>
</head>

<body>
    <div class="container flex">
        <div class="buttonLeft"></div>
        <div class="centerContent ">
            <div class="topCenter flex gap-x-32">
                <div class="topLeft max-w-[50%]">
                    <div class="topLeftTitle text-5xl font-bold font-PlayfairSerif mb-10">
                        Choose your texture.
                    </div>

                    <div class="topLeftSub font-Heebo text-gray-500 text-2xl mb-4 ml-10">
                        The most common consideration is how easy the floor is to clean and how safe and non-slip your
                        exterior surface is.

                    </div>
                    <div class="topLeftDesc font-Heebo text-gray-500 text-base ml-10">
                        Select one of the options below. We recommend, however, that you talk to your contractor first
                        about
                        the right texture for your project.

                    </div>
                </div>
                <div class="topRight w-[20vw] max-w-[500px]">
                    <img src="assets/img/ccSample.png" alt="coloured concrete texture blocks sample">
                </div>
            </div>
            <div class="bottomCenter">
                <div class="bottomLeft">
                    <div class="bottomTitle font-PlayfairSerif text-3xl font-bold">Recommended concrete textures for
                        {NOME DINAMICO}</div>
                    <div class="bottomSub font-Heebo text-2xl text-gray-500">SMOOTH SURFACE</div>
                    <div class="textures">
                        <div class="texture">
                            <div class="textureImg"></div>
                            <div class="textureDesc">
                                <div class="textureTitle"></div>
                                <div class="textureText"></div>
                            </div>
                        </div>
                        <div class="texture">
                            <div class="textureImg"></div>
                            <div class="textureDesc">
                                <div class="textureTitle"></div>
                                <div class="textureText"></div>
                            </div>
                        </div>
                        <div class="texture">
                            <div class="textureImg"></div>
                            <div class="textureDesc">
                                <div class="textureTitle"></div>
                                <div class="textureText"></div>
                            </div>
                        </div>
                        <div class="texture">
                            <div class="textureImg"></div>
                            <div class="textureDesc">
                                <div class="textureTitle"></div>
                                <div class="textureText"></div>
                            </div>
                        </div>
                        <div class="texture">
                            <div class="textureImg"></div>
                            <div class="textureDesc">
                                <div class="textureTitle"></div>
                                <div class="textureText"></div>
                            </div>
                        </div>
                        <div class="texture">
                            <div class="textureImg"></div>
                            <div class="textureDesc">
                                <div class="textureTitle"></div>
                                <div class="textureText"></div>
                            </div>
                        </div>
                        <div class="texture">
                            <div class="textureImg"></div>
                            <div class="textureDesc">
                                <div class="textureTitle"></div>
                                <div class="textureText"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomRight"></div>
            </div>
        </div>
        <div class="buttonRight"></div>
    </div>

</body>

</html>