<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="containerIspiration">
      <div class="titleIspiration">
        <h1>
          Looking for <br />
          inspiration?
        </h1>
      </div>
      <div class="containerTextandImg">
        <div class="textandLink">
          <div class="textIspiration">
            <p>
              We've been helping New <br />
              Zealanders create their <br />
              dream space since 1991. <br />
              Find out more about how <br />
              coloured concrete can <br />
              create the design <br />
              statement you want <br />
              indoors and out.
            </p>
          </div>
          <div class="linkIspiration">
            <a href="#"
              >Be inspired <img src="assets/Button-Space-1.png" alt="imgButton"
            /></a>
            <div class="line"></div>
          </div>
        </div>
        <div class="imgInspiration">
          <img
            class="imgInsp"
            src="assets/PeterFell-Scarborough-Beton-Brut-featured-1.jpg"
            alt="img"
          />
        </div>
      </div>
    </div>
  </body>
</html>
