* {
  box-sizing: border-box;
}
.footer {
  background-color: black;
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  .container-footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 12.5%;
    padding-right: 12.5%;
    .footer-left {
      width: 50%;
      .title-footer {
        color: white;
        font-size: 65px;
        font-weight: 700;
        width: 80%;
      }
      .second-title-footer-box {
        display: flex;
        justify-content: space-between;

        .footer-left-left {
          .second-title-footer {
            color: white;
            font-size: 32px;
            font-weight: 700;
          }
          .paragraph-footer-left {
            color: #6d6e70;
            padding-bottom: 120px;
          }
        }
        .footer-left-right {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          color: white;
          .icons-footer {
            .svg-icons {
              text-decoration: none;
            }
          }
        }
        .paragraph-footer-right {
          color: white;
          font-weight: 700;
        }
      }
      .last-paragraph-footer {
        color: #6d6e70;
      }
    }
    .footer-right {
      background-color: black;
      .title-footer-right-box {
        margin-top: 80%;
        .title-footer-right {
          color: white;
          font-size: 32px;
          font-weight: 700;
        }
      }
      .form-footer {
        input {
          background-color: black;
          height: 40px;
          width: 200px;
          margin-bottom: 30px;
        }
      }
      .link-subscribe-footer {
        &:hover {
          .link-subscribe {
            color: white;
          }
          .underline-subscribe-footer {
            background-color: white;
          }
          .img-subscribe {
            filter: brightness(0%) invert(1) saturate(100%);
          }
        }
        .link-subscribe {
          text-decoration: none;
          color: #7a99ac;
          font-weight: 700;
          font-size: 20px;
        }
        .underline-subscribe-footer {
          height: 3px;
          width: 25%;
          background-color: #7a99ac;
        }
      }
    }
  }
}
