<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>createLook</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="create-look-section">
        <div class="create-look-img"><img src="assets/img/create-look-img.png" alt="Screenshot of design tool"></div>
        <div class="create-look-desc">
            <div class="create-look-desc-title">Create the look you want.</div>
            <div class="create-look-desc-text">We’ve developed a step-by-step design tool that will help you create a
                space that’s right for your lifestyle. So, let’s get started.</div>
            <div class="create-look-desc-link">Use the design tool <img src="assets/img/buttonPf.png" alt="buttonPf">
            </div>

        </div>
    </div>

</body>

</html>