<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title></title>
  </head>
  <body>
    <div class="coloured-concrete-box">
      <div class="coloured-concrete-title">
        <h2 class="intestazione-coloured-concrete">
          Coloured concrete for any space.
        </h2>
        <p class="scritta-coloured-concrete">
          Using coloured concrete can take a space and make it special. With
          over 80 colours to choose from, you’ll find the hue that’s a perfect
          match for your plans.
        </p>
        <div class="choose-your-colour">
          <div class="link-colour-box">
            <a href="" class="link-colour"
              >Choose your colour
              <img
                src="Button-Space-1.png"
                alt="button-choose-colour"
                class="img-choose-color1"
              />
            </a>
            <div class="line-bottom"></div>
          </div>
        </div>
      </div>
      <div class="coloured-concrete-img">
        <img src="Coloured-concrete-for-any-space.png" alt="" />
      </div>
    </div>
  </body>
</html>
