<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeroCard</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="hero-card">
        <div class="hero-card-text">Floors</div>
        <div class="hero-card-description">
            <div class="hero-card-description-title">Floors</div>
            <div class="hero-card-description-text">More comfortable with a coloured concrete floor</div>
            <div class="hero-card-description-link">Floors inspirations</div>

        </div>

    </div>

</body>

</html>